[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=pyAstroRef
GenericName=Reference manager
Comment=The astronomer's reference manager.
Exec=pyastroref --pdfs %F
Terminal=false
MimeType=application/pdf